<?xml version="1.0" encoding="utf-8"?>
<pinyin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../pinyin.cshtml">
	<!-- Ref:氐.xml <char hz="氐" py="dī" multi="dǐ" main="1" /> -->
	<char hz="低" py="dī" />
	<char hz="羝" py="dī" />
	<char hz="堤" py="dī" />
	<!-- Ref:提.xml <char hz="提" py="dī" multi="tí" /> -->
	<char hz="鞮" py="dī" />
	<char hz="磾" py="dī" trans="1" />
	<char hz="滴" py="dī">
		<phrase hz="滴溜" py="dī,liū" />
	</char>
	<!-- Ref:镝.xml <char hz="镝" py="dī" multi="dí" main="1" /> -->
	<!-- Ref:奀.xml <char hz="奀" py="dí" multi="ēn" /> -->
	<char hz="狄" py="dí" />
	<char hz="荻" py="dí" />
	<char hz="迪" py="dí" />
	<char hz="笛" py="dí" />
	<!-- Ref:的.xml <char hz="的" py="dí" multi="de,dì" /> -->
	<char hz="籴" py="dí" />
	<char hz="敌" py="dí" />
	<char hz="涤" py="dí" />
	<char hz="觌" py="dí" />
	<char hz="髢" py="dí" />
	<char hz="嘀" py="dí">
		<phrase hz="嘀咕" py="dí,gu" />
	</char>
	<char hz="嫡" py="dí" />
	<!-- Ref:镝.xml <char hz="镝" py="dí" multi="dī" /> -->
	<!-- Ref:蹢.xml <char hz="蹢" py="dí" multi="zhí" main="1" suppressLog="1" /> -->
	<!-- Ref:翟.xml <char hz="翟" py="dí" multi="zhái" /> -->
	<!-- Ref:氐.xml <char hz="氐" py="dǐ" multi="dī" /> -->
	<char hz="邸" py="dǐ" />
	<char hz="诋" py="dǐ" />
	<!-- Ref:坻.xml <char hz="坻" py="dǐ" multi="chí" main="1" /> -->
	<char hz="抵" py="dǐ" />
	<!-- Ref:底.xml <char hz="底" py="dǐ" multi="de" main="1" suppressLog="1" /> -->
	<char hz="柢" py="dǐ" />
	<char hz="砥" py="dǐ" />
	<char hz="骶" py="dǐ" />
	<!-- Ref:地.xml <char hz="地" py="dì" multi="de" main="1" /> -->
	<char hz="弟" py="dì">
		<phrase hz="弟兄" py="dì,xiong" />
		<phrase hz="兄弟" py="xiōng,di" />
	</char>
	<char hz="递" py="dì" />
	<char hz="娣" py="dì" />
	<char hz="睇" py="dì" />
	<char hz="第" py="dì" />
	<!-- Ref:的.xml <char hz="的" py="dì" multi="de,dí" /> -->
	<char hz="菂" py="dì" />
	<char hz="帝" py="dì" />
	<char hz="谛" py="dì" />
	<char hz="蒂" py="dì" />
	<char hz="缔" py="dì" />
	<char hz="禘" py="dì" />
	<char hz="碲" py="dì" />
	<char hz="棣" py="dì" />
	<char hz="踶" py="dì" />
</pinyin>
